{% extends "home/index.html" %}
{% block head_title %}OZET: Artists{% endblock %}
{% block background_img %}
<img src="{{ MEDIA_URL }}img/OZET_7c.jpg" width="2047" height="1535" alt="OZET 7b">
{% endblock %}
{% block main_content %}
<section id="artists">
    <h1>Artists</h1>
	<p>Aaron Meicht and Scott Blumenthal began their artistic collaboration in 2004 when director Henry Wishcamper asked them to make a play with him inspired by a recent visit to the Hancock Shaker Village in Lenox, MA.  Over the next two years, the three artists worked closely to create "A Living History of Revivalism and Socialism Amongst the Harpist Community at Eminence, Indiana", which was presented by the Drama League as part of their New Directors/New Works program.  "OZET" is the second work on which they are collaborating.</p>
	<p>Aaron and Scott bring their deep experience as both performers and creative artists to this collaboration. Each has performed his own work and the work of other artists extensively in New York City at venues including Rattlestick Theater, the Knitting Factory, the Ontological-Hysteric Theater, Soho Rep, HERE, ABC No Rio, Makor, Dixon Place, NADA, PS 122, and The Kitchen, as well internationally at major festivals and venues in Paris, Berlin, Munich, Rome, Belgrade, Skopje, Bucharest, and Antwerp.</p>
		<p>As a performer and composer, Aaron has released several albums on Scrapple Records.  He also writes music for theater, film, and dance productions as a member of Broken Chord Collective (credits include The Flea, Fordham University, Juilliard, Keen Company, Second Stage, SPF, Women's Project, Shakespeare Theater (DC), Yale Rep, and the Oregon Shakespeare Festival).  Scott is the author of three plays and one original adaptation for the stage, and has performed these works around New York, as well as at Live Bait (Chicago), Bowdoin College, Brandeis University, and the Philadelphia Fringe Festival.</p>
	<p>Aaron and Scott both live in Washington Heights, New York City, with their families.</p>
</section>
{% endblock %}