<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}OZET{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    {% block additional_meta %}{% endblock %}

    {% block common_css %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nobile|Cardo">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css?v=10" type="text/css" media="screen" title="no title" charset="utf-8">
    {% endblock %}
    {% block additional_head_css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}js/colorbox-1.3.18/example1/colorbox.css" type="text/css" media="screen" title="no title" charset="utf-8">
    {% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <h1><a href="/">OZET</a></h1>
        <h2>Serve in space.</h2>
    </header>
    {% endblock %}
    <div id="background">
        {% block background_img %}
        <img src="{{ MEDIA_URL }}img/OZET_4c.jpg" width="1535" height="1151" alt="OZET">
        {% endblock %}
    </div>
    {% block main_nav %}
    <nav id="main_nav" class="overlay">
        <ul>
			<li id="nav_history">
                <a href="/history">History</a>
            </li>
            <li id="nav_events">
                <a href="/events">Events</a>
            </li>
            <li id="nav_artists">
                <a href="/artists">Artists</a>
            </li>
            <li id="nav_music">
                <a href="/music">Music</a>
            </li>
            <li id="nav_video">
                <a href="/video">Video</a>
            </li>
            <li id="nav_artists">
                <a href="/log">Log</a>
            </li>
			<li id="nav_contact">
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
    <hr>
    {% endblock %}
    <div id="container">
        <div id="main_content" class="overlay2">
            {% block main_content %}
            {# include "home/log.html" #}
			<p id="summary">is an ongoing collaboration between <a href="/artists">Aaron Meicht and Scott Blumenthal</a> that encompasses a variety of live <a href="/events">performances</a>, <a href="/video">films</a>, studio-produced song <a href="/music">recordings</a>, and a band. Each piece of the project draws on and expands the fictional <a href="/history">history</a> of the Collective Sphere OZET.</p>
			<p id="upcoming">OZET's newest piece, <a href="{% url performances.views.performance 'chv20' %}">Common Hall Village 20</a>, will premier in New York City on January 26 and run through February 4, 2012.</p>
			<p id="teaser_promo"><a href="http://www.youtube.com/v/LAWYD-1JRAE" title="OZET Trailer 2011" class="video">Watch a short film</a> of some highlights from previous OZET projects.</p>
			<figure id="chv20_teaser">
				<!--figcaption>Coming soon!<br><strong>Common Hall Village 20</strong></figcaption-->
				<a href="{% url performances.views.performance 'chv20' %}"><img src="{{ MEDIA_URL }}img/chv20_spacesheep.jpg" width="446" height="560" alt="OZET"></a>
				<figcaption>
					<a href="https://web.ovationtix.com/trs/cal/16">Tickets</a> available now!
				</figcaption>
			</figure>
            {% endblock %}
        </div>
        
        <div id="additional_content" class="overlay2">
            {% block additional_content %}{% endblock %}
        </div>
    </div>
    {% block common_js %}
    <!-- TODO: Upgrade to 1.4.4 when I figure out latest version of jQuery Player -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.OZET_MEDIA_URL = "{{ MEDIA_URL }}";</script>
    <script>!window.jQuery && document.write('<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"><\/script>')</script>
    <script src="{{ MEDIA_URL }}js/common.js?v=2" type="text/javascript" charset="utf-8"></script>

    <!--[if lt IE 7 ]>
    <script src="{{ MEDIA_URL }}js/dd_belatedpng.js?v=1"></script>
    <![endif]-->
    {% endblock %}
    
    {% block additional_js %}
    <script src="{{ MEDIA_URL }}js/colorbox-1.3.18/jquery.colorbox-min.js"></script>
    <script src="{{ MEDIA_URL }}js/performance.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$.colorbox({
				inline:true,
				href:'#chv20_teaser',
				innerWidth: '446px',
				innerHeight: '610px'
			});
		});
	</script>
    {% endblock %}
    
    {% block google_analytics %}
    <script>
        var _gaq = [['_setAccount', 'UA-15477683-1'], ['_trackPageview']]; 
        (function(d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
            g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
        })(document, 'script');
    </script>
    {% endblock %}
    
</body>
</html>