{% extends "home/index.html" %}
{% block head_title %}OZET: Log{% endblock %}
{% block main_content %}
<section id="log">
    <h1>Log</h1>
{% for entry in log_entries %}
<article>
	<h2>{{ entry.title }}</h2>
	<time datetime="{{ entry.post_date|date:"Y-m-d" }}">Posted on {{ entry.post_date }}</time>
	{{ entry.entry|safe }}
</article>
{% endfor %}
{% if log_pagination.paginator.num_pages > 1 %}
<nav class="pagination">
    <span class="step-links">
        <span class="current">
            Page {{ log_pagination.number }} of {{ log_pagination.paginator.num_pages }}.
        </span>
        {% if log_pagination.has_previous %}
            <a href="{% url ozet.log.views.log log_pagination.previous_page_number %}" class="pagination-prev">previous</a>
        {% endif %}
        {% if log_pagination.has_next %}
            <a href="{% url ozet.log.views.log log_pagination.next_page_number %}" class="pagination-next">next</a>
        {% endif %}
    </span>
</nav>
{% endif %}
</section>
{% endblock %}