<section id="log">
    <h1>Log</h1>


<article>
	<h2>The Smuggler</h2>
	<time datetime="2011-05-6">Posted on May 8, 2011</time>
	<p>&quot;Hard to keep your hands clean when you've got to bury your stash.&quot;<br/>
	A new OZET <a href="http://www.youtube.com/v/Oj9gFLn_mIM" class="video">film</a> inspired by the song.</p>
</article>
<article>
	<h2>Transmission 1102.5.6</h2>
	<time datetime="2011-05-6">Posted on May 7, 2011</time>
	<p>What does Transmission <a href="/music/transmissions/1102-5-6">1102.5.6</a>  tell us? <br>Sometime during the 3rd Generation,<br>pioneers created a <a href="http://en.wikipedia.org/wiki/John_Maron">Brass Wall</a> to climb.<br>It wasn't religous, or a war though.</p>
</article>
<article>
        <h2>Transmission 1102.4.13</h2>
        <time datetime="2011-04-13">Posted on April 15, 2011</time>
        <p> Transmission <a href="/music/transmissions/1102-4-13">1102.4.13</a> is now up.<br>It is a nice thing to listen to<br>while reading about <a href="http://www.liftport.com">LiftPort Group</a>.</p>
    </article>
<article>
        <h2>Transmission 1102.4.7-L</h2>
        <time datetime="2011-04-7-L">Posted on April 7, 2011</time>
        <p><a href="/music/transmissions/1102-4-7-L">1102.4.7-L</a> features a synth solo by Leonid.</p>
    </article>
<article>
        <h2>Transmission 1102.3.25</h2>
        <time datetime="2011-03-25">Posted on April 6, 2011</time>
        <p><a href="/music/transmissions/1102-3-25">1102.3.25</a> is moving us all into 12th Generation territory.</p>
    </article>
 <article>
        <h2>Transmission 1102.3.20</h2>
        <time datetime="2011-03-20">Posted on March 30, 2011</time>
        <p><a href="/music/transmissions/1102-3-20">Listen to it!</a></p>
    </article>
    <article>
        <h2>Transmission 1102.3.5-1</h2>
        <time datetime="2011-03-05">Posted on March 10, 2011</time>
        <p><a href="/music/transmissions/1102-3-5-1">A sketch.</a></p>
    </article>
    <article>
        <h2>Transmission 1102.3.6</h2>
        <time datetime="2011-03-05">Posted on March 08, 2011</time>
        <p><a href="http://www.youtube.com/v/j70l8cS-3zY" class="video">A film</a> celebrating OZET Day 2011.</p>
    </article>
    <article>
        <h2>The new OZET.US</h2>
        <time datetime="2011-03-05">Posted on March 05, 2011</time>
        <p>In honor of OZET Day 2011 (that's March 6, the date of the first OZET performance), we've put together a new site for you all.  We hope you like it.</p>
        <p>While you're here, take a look at the short <a href="/events/alberts-i-v">Alberts I-V</a> <a href="http://www.youtube.com/v/RkwzkTxk-B4" class="video">&quot;teaser&quot; video</a> we put together.  If you weren't able to make it down to HERE in August, it should give you a good idea of how our latest OZET piece came out.</p>
        <p>We've also started posting <a href="/music/transmissions">transmissions</a>, short experimental pieces (all musical so far), to the site.  Check back, as we'll be posting more of these on a regular basis.</p>
        <p>And if you're interested in keeping up with all the OZET news, come to our <a href="http://www.facebook.com/the.ozet">facebook page</a> and follow us on Twitter: <a href="http://twitter.com/the_ozet">@the_ozet</a>.</p>
        <p>Thanks, as always, for being part of OZET.</p>
    </article>
</section>