{% extends "home/index.html" %}
{% block head_title %}OZET: Family Tree{% endblock %}
{% block additional_head_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/tree.css" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block background_img %}
<img src="{{ MEDIA_URL }}img/OZET_7c.jpg" width="2047" height="1535" alt="OZET 7b">
{% endblock %}
{% block main_content %}
<section id="tree">
    <h1>Family Tree</h1>
	<h2>Past and current collaborators</h2>
	<ul>
		<li>Daniel &quot;Space Monkey&quot; Baker</li>
		<li>Alex Barreto</li>
		<li>Jayce Bartok</li>
		<li>Matt Bauder</li>
		<li>Eric km Clark</li>
		<li>Brendan Dougherty</li>
		<li>Thomas Dunn</li>
		<li>Jeff Englander</li>
		<li>Kara Feely</li>
		<li>Kathleen Geldard</li>
		<li>Dave Hopkins</li>
		<li>LeeAnne Hutchinson</li>
		<li>Darius Jones</li>
		<li>Travis Just</li>
		<li>Andres Karu</li>
		<li>Anya Klepikov</li>
		<li>Daniel Kluger</li>
		<li>Paula Matthusen</li>
		<li>Seth Meicht</li>
		<li>James Moore</li>
		<li>Jesse Perez</li>
		<li>Britt Plunkett</li>
		<li>Mike Pride</li>
		<li>Steven Rattazzi</li>
		<li>Dan Scully</li>
		<li>Josh Sinton</li>
		<li>Wil Smith</li>
		<li>Brendan Spieth</li>
		<li>Quentin Tolimieri</li>
		<li>David Thomas</li>
		<li>Liesl Tommy</li>
		<li>Brandon Wolcott</li>
		<li>Harris Wulfson</li>
		<li>Paul Zimet</li>
	</ul>
	<a name="supporters"></a>
	<h2 id="supporters">Supporters</h2>
	<ul>
		<li>Jennifer Anderson</li>
		<li>Devan Aptekar and Rachel Schiller</li>
		<li>Jayce and Tiffany Bartok</li>
		<li>Maria and Fabian Binz-Scharf</li>
		<li>Sherry and Alan Blumenthal</li>
		<li>John and Stacy Charles</li>
		<li>Lap Chi Chu</li>
		<li>Darlene Clapp</li>
		<li>Matthew Clapp</li>
		<li>AnnMarie Conway</li>
		<li>Megan Delaney</li>
		<li>Peter Freed</li>
		<li>Jonathan Gati</li>
		<li>Peter Ginsberg and Melissa Haworth</li>
		<li>Vineet Gupta and Hemali Majithia</li>
		<li>Tanner and Jack Hopkins</li>
		<li>David and Tracy Hopkins</li>
		<li>Diane Hopkins</li>
		<li>Alexis Kahn</li>
		<li>Jesse Keller</li>
		<li>Hannah Kempf</li>
		<li>Michael and Jennifer Kolodner</li>
		<li>Dena and Ed Lake</li>
		<li>Craig Lewis</li>
		<li>Kathleen and John Meicht</li>
		<li>Eileen Merlin</li>
		<li>Jeffrey Miller and Katie Rosenfeld</li>
		<li>Mike Miller</li>
		<li>Gerry and Sue Morel</li>
		<li>Brett Morel</li>
		<li>Ken Morel</li>
		<li>Janice Painter</li>
		<li>Nick Patterson</li>
		<li>David and Margaret Reuther</li>
		<li>Ilmars and Barbara Ritins</li>
		<li>Wayne and Teresa Rothermel</li>
		<li>Phillip Schanely</li>
		<li>Brian Schmitz and Ekaterina Smirnova</li>
		<li>Ralph Sutton</li>
		<li>Daniella Topol</li>
		<li>Neal and Tracey Vorus</li>
		<li>Jerry Weigel</li>
		<li>George Whittam</li>
		<li>Mary and George Whittam</li>
		<li>Henry Wishcamper and Jenny Mannis</li>
		<li>Paul Zimet and Ellen Maddow</li>
		<li>Sam Zuckerman</li>
		<li>Social Workout (<a href="http://socialworkout.com">http://socialworkout.com</a>)</li>
		<li>Daylife (<a href="http://www.daylife.com">http://www.daylife.com</a>)</li>
	</ul>
	<h2>Pioneers of Village 20</h2>
	<ul>
		<li>Devan Aptekar</li>
		<li>Jayce Bartok</li>
		<li>Miles Blumenthal</li>
		<li>Matt Carlson</li>
		<li>Frank Chism</li>
		<li>Raquel Cion</li>
		<li>Lee Sunday Evans</li>
		<li>Kara Feely</li>
		<li>Peter Ginsberg</li>
		<li>Tilly Grimes</li>
		<li>Gaelen Hadlett</li>
		<li>Jonathan Hiam</li>
		<li>John Holyoke</li>
		<li>Dave Hopkins</li>
		<li>Travis Just</li>
		<li>Michael Kafka</li>
		<li>Polly Lee</li>
		<li>Seth Meicht</li>
		<li>Brenda Mitchell</li>
		<li>Cait O'Conner</li>
		<li>Kate Reuther</li>
		<li>Alejandro Rodriguez</li>
		<li>Brian Schmitz</li>
		<li>Ekaterina Smirnova</li>
		<li>David Townsend</li>
		<li>Ben Vershbow</li>
		<li>Brian Voelker</li>
		<li>Stephen Williams</li>
	</ul>
	
</section>
{% endblock %}
{% block additional_js %}{% endblock %}