{% extends "home/index.html" %}
{% block head_title %}OZET: Video{% endblock %}
{% block additional_head_css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/video.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{{ MEDIA_URL }}js/colorbox-1.3.18/example1/colorbox.css" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block background_img %}
<img src="{{ MEDIA_URL }}img/OZET_8.jpg" width="1535" height="1151" alt="OZET 3b">
{% endblock %}
{% block main_content %}
<section id="video">
    <h1>Video</h1>
    {% for category, value in categories.items %}
	<h2 class="category">{{ value.title }}</h2>
		{% regroup value.videos by performance as videos_by_performance %}
		{% for performance in videos_by_performance %}
			{% if performance.grouper %}
	<h3>from {{ performance.grouper }}</h3>
			{% else %}
	<h3>Other</h3>
			{% endif %}
	<ul>
			{% for video in performance.list %}
		<li class="item">
		    <a href="{{ video.url }}" class="video">{{ video.title }}</a>
		</li>
			{% endfor %}
	</ul>
		{% endfor %}
	{% endfor %}
	</section>
{% endblock %}
{% block additional_js %}
<script src="{{ MEDIA_URL }}js/colorbox-1.3.18/jquery.colorbox-min.js"></script>
<script src="{{ MEDIA_URL }}js/performance.js"></script>
{% endblock %}