<article>
	
	<p class="directions">When the audience arrives, the TAVERN BAND is already playing &quot;tavern band music&quot;.  The music is instrumental, very textural.  Occasionally, though, a short, attention-grabbing musical phrase comes through.  At the end of a phrase, the band holds for applause.  These phrases may also act as cues for action from the VILLAGERS.</p>

	<p class="directions">There are televisions screens throughout the space.  One screen or small group of screens show "closed circuit" images of OZET exteriors: a barren field, the entrance of the Common Hall, the road out of the Village, etc.  A different set of screens will soon show the official broadcast.  Until then, they are showing a countdown.  (The countdown will be decorated or interspersed with images of OZET life.)</p>

	<p class="directions">At the bar, there are tall containers of mixers for the vodka.  Each table also has small bottles of the mixers there.</p>
	
	<p class="directions">The VILLAGERS are performing the <a href="#villager-actions">actions</a> assigned to them before the performance.</p>
	
	<p class="directions">Snatches of conversation can be <a href="#overheard">overheard</a>.</p>
	
</article>