<article>
	
	<p class="directions">The song ends, and the COUNCILOR appears onscreen. As he speaks, DZIDZIA and her assistant are preparing shots for everyone in the Common Hall.  Before the toast, which concludes the COUNCILOR's speech, they will distribute the shots to everyone in the common hall.</p>
	
	<cite>COUNCILOR:</cite>
	
	<p>Welcome, Pioneers.</p>
	
	<p>I'm honored to speak to you tonight on behalf of the Council.  I won't be long.  You've finished your work for the day.  Tonight, in your villages, you are celebrating.  That's our gift to you.  Here in the city, however, we cannot rest.  A driver has to keep his hand steady on the wheel, even across the flattest field, if his furrow is going to be straight.</p>
	
	<p>Fortunately, some of our duties are happy ones and tonight I have two.  My first is to remind you why you have gathered together, as your cousins did twenty years ago, and as they will twenty years from now; why you are drinking and singing and dancing for a generation of children that has not yet been born.</p>

	<p>You and I, the Pioneers of the OZET... we are not people who look back.  Our ancestors -- circling, circling -- returned each year to the place they had been before.  We are alone in our destiny to travel forward, always, on this particular straight line.</p>

	<p>Still, let us imagine what we might see if we turned around to look at the earth: a new empire rising on the ruins of the one that sent us away, old treaties disrupted by new wars, men lifting each other up and knocking each other down, dreaming the same dreams and making the same mistakes.</p>

	<p>And now let's imagine that some people there still wonder about the OZET.  They focus their telescopes beyond the last planet in their solar system and search this 40,000-year-wide darkness, squinting for a glimpse of us.</p>

	<p>What do they expect to see?  A dead, frozen rock?  Ghost towns?  Would they feel satisfied if they learned that the pioneers were gone?  Indifferent?  Disappointed?</p>

	<p>Instead, they are amazed.  They are humbled to count the variety of crops thriving in every field in every village; to see our happy, industrious pioneers making water flow and mills run; to admire this city, cut from the rock. And if, on this night, they could hear the music!</p>

	<p>Remember, then, that when we welcome this new generation of children, we pay tribute to ourselves.  We haven't just survived: we have prospered.  And tomorrow, the first child of a new generation will be born to share the riches we've mined from this comet, to claim for himself this home that wasn't of our own choosing, but is of our own making.</p>

	<p>And now, my second duty.  Raise your glasses, pioneers.</p>

	<p>Twenty years ago, in the village where I was born, I celebrated the first generation to follow my own.  Tonight, from far away, I ask you to drink to the last generation I will be privileged to welcome to the OZET.</p>

	<p>Three generations, the span of our lives, pass so quickly.  Enjoy yourselves.  And tomorrow keep your promises to the children: fill your roles, trust the Council, make your home thrive as we safeguard OZET's course.</p>

	<p>To the Fifteenth Generation!</p>

	<cite>VILLAGERS:</cite>
	
	<p>To the Fifteenth Generation!</p>

	<cite>COUNCILOR:</cite>
	
	<p>And to OZET!</p>

	<cite>VILLAGERS:</cite>
	
	<p>To OZET!</p>
	
	
</article>