<article>
	
	<p class="directions">A formal, operatic rendition of the Lullaby from the First Generation to the Last plays.  The lyrics are shown on screen, and the villagers join in singing.</p>
	
	<p class="song">Listen to <a href="{{ MEDIA_URL }}recordings/lullaby26octv2.mp3">Lullaby from the First Generation to the Last</a></p>

	<p>Our mothers were born down there.
	<br/>Our fathers were born between
	<br/>the Black Sea and the Caucasus
	<br/>and so were we.
	<br/>There! That farm was where they worked.
	<br/>We were happy there.
	<br/>Our brothers went to the city
	<br/>and worked in the factories.
	<br/>They made tractors.
	<br/>The earth is beautiful.</p>

	<p>All our children
	<br/>And their children
	<br/>And their children
	<br/>sail together
	<br/>work together
	<br/>on the OZET</p>
	
	<p>You live on the OZET
	<br/>Your father met your mother here.
	<br/>They married and worked side by side
	<br/>They were pioneers.
	<br/>Wow! They went to live in space.
	<br/>You should be proud of them.
	<br/>We all grow old here and die here
	<br/>then spread through the galaxy.
	<br/>Now sing your children
	<br/>this song about your life.</p>
	
	<p>All our children
	<br/>And their children
	<br/>And their children
	<br/>traveling in
	<br/>four dimensions
	<br/>on the OZET</p>
	
</article>