<article>
	
	<cite>A VOICE:</cite>
	<p>Thank you.  Your Mayor now speaks.</p>

	<p class="directions">Another countdown begins on the screen.  No one steps up to speak.</p>
	
	<cite>DZIDZIA:</cite>

	<p>Is he here?  Has anyone seen him?  No?  Was he at the feast?  Who knows.  Drunk somewhere?  Where else should he be drunk but here?  OK.  Maybe he's gone looking for a job in Village 19.  Well, Mayor Iakob has abandoned us, leaving us no words of comfort, so you'll have to settle for Dzidzia.</p>
	
	<p>Make way.</p>

	<p>Well.  I'm happy to have you all here.  Not you.  It would be nice to not see you for once.  The rest of you though.  Some of you... it's been a long time.  My role is to keep this hall, so I make the hall my home, and if I don't see you here I don't see you.  But I fill my role because, like the Councilor said, that is how I can best serve Village 20.</p>

	<p>I know what's happening outside these walls, though.  I do.  And even if I am not in the fields like you, I worry and I ache, like you do.  I want to see our wheat growing again.  I'm grateful that the council brings us rye bread from Village 19, but I want to taste our own brown bread again.  So I wait, like you.  I wait for our friends from the city over there in the corner to finally tell us what's wrong with the soil and how to fix it, and for the the police to open the roads again so Shota and Vasily and Ilia can travel to the exchange again, and bring me back the gossip from our cousins in Village 5.</p>

	<p>I want life to be like it was. Don't you?  I want to wake up to everything as it was.</p>

	<p>But I probably won't. Not tomorrow, anyway.  Tomorrow, maybe it gets worse.</p>

	<p class="directions">A warning tone from the television: a thirty seconds remain in the countdown.</p>

	<p>But maybe not.</p>
	
	<p>Listen.  I have a story.  There was a field mouse.  Lived in a hole in a dry, scraggly little field.  There were birds in the sky and the grass in the field was short and patchy so all day long he'd dash in and out of his hole, looking for grass seed to eat and trying not to get eaten himself. But he still thought his little field was paradise.</p>

	<cite>A VOICE:</cite>
	<p>Thank you.  Now join us in congratulating the oldest children of the Fourteenth Generation, * who have already joined your esteemed ranks as Working Pioneers.  Their diligence has proved them ready to carry on the work of the generations that came before, and their diverse intelligence and achievements have qualified them to occupy every position supporting life on the OZET.</p>
	
	<cite>DZIDZIA:</cite>
	<p>*Stay with me.</p>

	<p class="directions">A montage begins: iconic scenes of OZET life, the rolls that will be filled by these older children of the Fourteenth Generation.  DZIDZIA continues her story over the music of the montage.  The names of the children scroll by:<br>
		<em>Bakhva Abuladze, machinist, Village Ten<br>
		Gultamze Khutsishvili, machinist, Village Twelve<br>
		Irema Giorgadze, agricultural scientist, OZET City<br>
		Kutsna Lomidze, assistant custodian, Village Three</em>
	</p>

	<cite>DZIDZIA:</cite>
	<p>OK.  Listen.  So one day, just as the field mouse is coming out of his hole, the shadow of a goat passes over him, and a second later, SPLAT.  He's covered in shit.  It's all over his fur, it's all over the ground next to his hole.  It stinks.  His pride is hurt even if he's only a mouse and he curses at the sky and ducks back into his hole to clean himself.</p>

	<p>When he comes back out the worms have arrived, and they're squirming around in the wet soil where the shit fell, and eating the shit and having a fine time.  The mouse yells at them, 'Get away from my hole!  Leave my field alone!'  But they don't listen to him.  They go on eating.  The next day he comes out of his hole and runs face first right right into a little woody shoot sticking up from the ground.  It gets worse and worse.  Roots from the plant start pushing through the walls of his hole.  A little tree grows and its branches block the sun, and make his burrow cold.</p>

	<p>But then one day the field mouse gets up.  He rubs his eyes, crawls up the tunnel to see how bad things are today, and there on the ground is a beautiful red apple that's fallen from the tree.  He takes a taste.  It's the most delicious thing he's ever had, so delicious that for a minute he just sits and chews and forgets to look out for birds.  Then suddenly he remembers he's in danger and his heart races and is about to run back into his hole, when he sees that the leaves on the branches are shielding him from the birds' sight.  So he stays there and eats his apple in the sideways light of the morning.</p>

	<p>Pick up your glasses.</p>

	<p>Shit comes from the sky, Cousins.  Help comes from strangers and we don't want it.  But welcome both, trust, and you will have fruit.</p>

</article>