<article>
	
	<cite>A VOICE:</cite>
	
	<p>Thank you.  Your village band now joins us in playing An Ode to Our Travellers of the Constellations, composed by Pavle Bugadze in the Seventh Generation.</p>
	
	<p class="directions">The music of the ode begins in the broadcast, but the tavern band quickly joins in.   The BAND LEADER comes to the stage and leads the call-and-response of the song.</p>
	
	<p class="song">Listen to <a href="Constellations-nov11.mp3">An Ode to Our Travellers of the Constellations</a></p>
	
	<cite>BAND LEADER:</cite>
	<p>Today a glint of ice<br>
	in Serpens Caputs eye<br>
	Tomorrow<br>
	gleaming<br>
	at the point of Pyxis' needle</p>

	<cite>VILLAGERS:</cite>
    <p>The scalpel drawing a line<br>
    Across the stellar dragon's spine<br>
    Flying</p>

	<cite>BAND LEADER:</cite>
	<p>Finally<br>
	Gone from sight<br>
	We can leave behind our never home</p>

	<cite>VILLAGERS:</cite>
    <p>Forgotten<br>
	Our never home</p>

	<cite>BAND LEADER:</cite>
	<p>A drop<br>
    Of water</p>

	<cite>VILLAGERS:</cite>
    <p>Carina slices<br>
	Into the sea of space<br>
	Among the shining spray of stars<br>
	Am I</p>
	
</article>