<article id="overheard-scenes">
	
	<p class="directions">The following conversations are pre-recorded and played in the space during the opening of the show.  They are intended to be remixed into something more impressionistic.</p>
	
	<h4>Two men</h4>
	
	<cite>A:</cite>
	<p>Which one?</p>
	
	<cite>B:</cite>
	<p>Her.</p>
	
	<cite>A:</cite>
	<p>Really?</p>
	
	<cite>B:</cite>
	<p>She looks like she doesn't wash.  I like that.  I haven't gotten close enough to smell her though.</p>
	
	<cite>A:</cite>
	<p>You're disgusting.</p>
	
	<cite>B:</cite>
	<p>Maybe she'll let herself get drunk, because of the festival and all.</p>
	
	<cite>A:</cite>
	<p> Maybe if someone brought her a drink.</p>
	
	<cite>B:</cite>
	<p>Yeah.  No one is going near her.</p>
	
	<cite>A:</cite>
	<p>Gives you a chance in hell anyway.</p>
	
	<!------------------->
	
	<h4>A farmer</h4>
	
	<cite>Farmer</cite>
	<p>I love the harvest.  I was the Hero of Threshing for the village last year. I brought in twelve hundred bushels of corn.  Now the corn dies overnight.  I see it withering.  I race to the thresher.  I drive and drive but I can't save the harvest.</p>
	<p>We did everything right.  We plow.  We disk, we harrow.  Spring tooth and spike tooth.</p>
	<p>We fertilize.  Look out there.  Beautiful fields.</p>
	<p>It's like losing a baby.  You have hopes.  You wait.  And suddenly, it's gone.</p>
	
	<!------------------->
	
	<h4>Two villagers</h4>
	
	<cite>A:</cite>
	<p>Goats in the schoolroom.	Goat shit on the floor.</p>
	
	<cite>B:</cite>
	<p>The police pulled up the pasture fences and put them across the road out of the village.</p>
	
	<cite>A:</cite>
	<p>Why?</p>
	
	<cite>B:</cite>
	<p>And guards.</p>
	
	<cite>A:</cite>
	<p>Through the night.</p>
	
	<cite>B:</cite>
	<p>Who would leave?</p>
	
	<!------------------->
	
	<h4>A woman</h4>
	
	<cite>Woman</cite>
	
	<p>As if she owns it.  As if it's hers.  Locks the door when she leaves.  Never leaves anyone else in charge for a minute.  Sleeps here.  Up there.  Not always alone.  Not always.  Locks the door during the day too when she's here, sometimes, and not necessarily by herself.  Counts the bottles.  She has more than she lets on.  She tried to raise the price of vodka once and said the Council set it.  But Torgva spent the night in Village 12 and paid less there for his drink.  He came back and told her to her face.  Called her a liar.  She blamed it on the man who delivers the vodka.  She said he had to pay the distiller more because the distiller said the Council raised the price of potatoes.  So she wasn't lying, just simplifying.  But who knows if that part is even true.  I don't believe her.  She has too many stories.  Now watch.  She'll raise the price again and who will be able say it's different in Village 12?</p>
	
	<!------------------->
	
	<h4>A villager</h4>
	
	<cite>Villager</cite>
	<p>A child in Village 1 will be the last. A child in Village 4 will be the first.</p>
	
	<!------------------->
	
	<h4>Two men</h4>
	
	<cite>A:</cite>
	<p>Come here.  Come over here.  Why are you walking by?  I know you saw me.</p>
	
	<cite>B:</cite>
	<p>I didn't see you.</p>

	<cite>A:</cite>
	<p>Yes you did.  As you came in the door.</p>

	<cite>B:</cite>
	<p>I didn't see you, Uta.</p>
	
	<cite>A:</cite>
	<p>You don't even come in to meals at the same time as you used to.  Why are you avoiding me?</p>
	
	<cite>B:</cite>
	<p>Uta.  I'm not.  It's good to see you.</p>

	<cite>A:</cite>
	<p>Oh, it's good to see you too.  So why don't you sit down?</p>

	<cite>B:</cite>
	<p>I told Levan I'd join him.</p>

	<cite>A:</cite>
	<p>He'll be here all night.  Sit down and tell me what you have to say for yourself.</p>

	<cite>B:</cite>
	<p>What do you mean?</p>

	<cite>A:</cite>
	<p>Well, Niko said you're talking about me.  Said you were planning to go to the council with some complaints.</p>

	<cite>B:</cite>
	<p>You should know better than to listen to him.  Good to see you, Uta.</p>

	<cite>A:</cite>
	<p>What did I do to you?  Heh?  What did I do?  Son of a bitch.</p>
	
	<!------------------->
	
	<h4>The two from the city</h4>
	
	<cite>A:</cite>
	<p>Why aren't they sending us to our own villages?</p>
	
	<cite>B:</cite>
	<p>Think about it.</p>
	
	<cite>A:</cite>
	<p>I hate Village 20.</p>
	
	<cite>B:</cite>
	<p>They probably think we'd spill the beans.</p>
	
	<cite>A:</cite>
	<p>What do you mean?</p>
	
	<cite>B:</cite>
	<p>If you were home again.  You'd probably think: I grew up with these people.  Old Petre, he taught me how to carve a boat out of brick of soap. He deserves to know what is really happening.</p>
	
	<cite>A:</cite>
	<p>And what is happening?</p>
	
	<cite>B:</cite>
	<p>You know what I mean.  You might tell them about the other villages.  You might tell them...</p>
	
	<cite>A:</cite>
	<p>OK.  Quiet.</p>
	
	<cite>B:</cite>
	<p>It's better this way.</p>
	
	<cite>A:</cite>
	<p>For everyone but us.  I can't even sit down to breakfast with these people.  How can you stand it?  Watching them with their pickled eggs.  I grew up with a dish of yogurt in the morning.  And then to smell the eggs on their breath all day long.  It's unbearable.</p>
	
	<cite>B:</cite>
	<p>You'll be back in the city soon enough, you spoiled brat.  You can have all the yogurt you want.</p>
	
	
	
	
</article>