<h3 id="dramatis-personae">Dramatis Personae</h3>
<table cellspacing="0" id="dramatis-personae-list">
	<tr>
		<td>DZIDZIA, the proprietor of the Common Hall</td>
		<td class="artist">Liesl Tommy</td>
	</tr>
	<tr>
		<td>COUNCILOR, representing the Council from the City</td>
		<td class="artist">Paul Zimet</td>
	</tr>
	<tr>
		<td>SUBVERSIVE #1</td>
		<td class="artist">Jesse Perez</td>
	</tr>
	<tr>
		<td>TAMAZ</td>
		<td class="artist">Nick Choksi</td>
	</tr>
	<tr>
		<td>VILLAGERS</td>
		<td class="artist">various</td>
	</tr>
	<tr>
		<td colspan="2">The TAVERN BAND:</td>
	</tr>
	<tr>
		<td>NIKOLOZ, the band leader</td>
		<td class="artist">Daniel Baker</td>
	</tr>
	<tr>
		<td>THE TRUMPET PLAYER</td>
		<td class="artist">Aaron Meicht</td>
	</tr>
	<tr>
		<td>THE DRUMMER</td>
		<td class="artist">Brendan Dougherty</td>
	</tr>
	<tr>
		<td>MALKHAZI, the guitar player</td>
		<td class="artist">Scott Blumenthal</td>
	</tr>
</table>