<h3 id="dramatis-personae">Dramatis Personae</h3>
<table cellspacing="0" id="dramatis-personae-list">
	<tr>
		<td>DZIDZIA, the proprietor of the Common Hall</td>
		<td class="artist">Liesl Tommy</td>
	</tr>
	<tr>
		<td>COUNCILOR, representing the Council from the City</td>
		<td class="artist">Paul Zimet</td>
	</tr>
	<tr>
		<td rowspan="4">The TAVERN BAND</td>
		<td class="artist">Daniel Baker<br>(band leader)</td>
	</tr>
	<tr>
		<td class="artist">Aaron Meicht (trumpet/electronic)</td>
	</tr>
	<tr>
		<td class="artist">Brendan Dougherty (drums/electronics)</td>
	</tr>
	<tr>
		<td class="artist">Scott Blumenthal (guitar)</td>
	</tr>
	<tr>
		<td>VILLAGERS</td>
		<td class="artist">various</td>
	</tr>
</table>