<article>
	
	<p class="directions">Under the voices of the SUBVERSIVES, the TRUMPET PLAYER and the DRUMMER begin playing.  As their noise rises the lights shift, the voices of the subversives morph into pure sound, and their images freeze on the televisions.</p>
	
	<p class="directions">A three way improvisation between drums, trumpet, and MALKHAZI, the guitar player.  The latter, who has become quite drunk and belligerent, doesn't play the guitar so much as he rails against the subversives and lays out a vision of what lies ahead for the OZET when society goes down this path.</p>
	
	<p class="directions">At the end of the improvisation, the drums and trumpet have largely dropped away, the atmosphere of the common hall has returned from the "out of time" state it had entered, and we are left with the MALKHAZI drunkenly shouting at the televisions (which now show only static) while DZIDZIA and a few villagers, including TAMAZ try to subdue him.  (This whole section should be chaotic and extremely awkward, even embarrassing.)</p>
	
	<cite>MALKHAZI:</cite>
	<p>What is this?  What are they doing?  DIDI!  Fix your screens.  Put on the celebration.  Fix your screens!  Fix your screens!</p>

	<cite>VILLAGERS:</cite>
	<p>Quiet down!  Shut up!  etc.</p>

	<cite>MALKHAZI:</cite>
	<p>What are they talking about?  ASSES.  If he comes back I'm gonna throw this through his face.  I'm gonna throw this.  ASS!  DIDI!</p>

	<cite>DZIDZIA:</cite>
	<p>Come on.  Outside.  Come on.  Nikoloz...</p>

	<p class="directions">NIKOLOZ, the band leader, starts helping her get MALKHAZI out of his seat, to take him outside.</p>

	<cite>MALKHAZI:</cite>
	<p>I'm not going outside.  It's festival.  It's festival.  I'm gonna throw this if you don't turn that back.  Get off me, asshole.  GET OFF ME.</p>

	<cite>NIKOLOZ:</cite>
	<p>OK.  Calm down.</p>

	<cite>MALKHAZI:</cite>
	<p>NOBODY IS LISTENING!  GET OFF ME!  NOBODY IS LISTENING!</p>

	<p class="directions">MALKHAZI tries to push off NIKOLOZ and ends up falling on the floor.</p>

	<cite>MALKHAZI:</cite>
	<p>ASS! YOU ASS!</p>
	
	<p class="directions">NIKOLOZ keeps a hold on him, and with the help of a couple other villagers they take him outside.</p>
	
	<p class="directions">A moment later two VILLAGERS, who had exited during the improvisation, come back in.  One goes to DZIDZIA, and the other finds a group of VILLAGERS to relay the news to.  They are not addressing the common hall; audience members close to them should be able to hear what they are saying, but not everyone in the hall will.</p>
	
	<cite>A VILLAGER:</cite>
	<p>The police are in the village. They're checking the schoolhouse.  They're checking the barns.  They are out there with lights.</p>
	
	<cite>ANOTHER VILLAGER:</cite>
	<p>More police are coming.  Down the road.  I heard them.  And Pepela said she saw a group of four or five people come out of the tractor shed and run for the woods. </p>
	
</article>