<article>
	
	<p class="directions">As the SUBVERSIVES are finishing their broadcast, MALKHAZI, the guitar player slips away, off the bandstand.  Under the voices of the SUBVERSIVES, the TRUMPET PLAYER and the DRUMMER begin playing.  As their noise rises the lights shift, the voices of the subversives morph into pure sound, and their images freeze on the televisions.</p>
	
	<p class="directions">An improvisation between drums and trumpet begins.  They are somehow "out of time", playing in an expressionist state.</p>
		
	<p class="directions">During the improvisation, MALKHAZI climbs the back staircase to DZIDZIA's loft.  He vandalizes her sleeping area, urinates on her bed.  On the long wall of the catwalk that leads to her loft, he writes in block letters:</p>
	
	<p>DZIDZIA CHEATS HER COUSINS<br>SHE IS COUNCIL'S WHORE</p>
	
	<p class="directions">Below, also during the improvisation, NIKOLOZ, the band leader goes to the bar.  He drinks two shots of vodka, one after another.  He leaves the bar and goes in turn to each of the male villagers.  He whispers to each villager: "Follow me.  We are going to the table in the corner.  When you get there, stand near the table with your back to the rest of the common hall.  Help me block what is happening from view."</p>
	
	<p class="directions">When he arrives at the table in the corner, where the scientists are sitting, he puts his face right down between them.  They have been instructed before the show to answer "No" or to shake their head no to each of his questions.  NIKOLOZ should ask some of his questions loud enough that they might be heard by other members of the audience; some of them should be delivered as threatening whispers.  The action should suggest menace and impending violence to the audience, but the particulars should be hard to make out, particularly with the noise from the bandstand increasing in volume and urgency.</p>
	
	<cite>NIKOLOZ</cite>
	<p>Did you know about this?<br>The other villages?  You didn't know about the other villages?<br>You were sent here to lie to us, weren't you?  And spy on us?</p>
	
	<p class="directions">He begins giving them orders, which they have been instructed to follow.</p>
	
	<cite>NIKOLOZ</cite>
	<p>Get up.  You are going outside.  Leave the papers.  Leave the papers!</p>
	
	<p class="directions">To two of the other villagers:</p>
	
	<p>Take them outside.</p>
	
	<p class="directions">At the end of the improvisation, the drums and trumpet have largely dropped away, leaving the bare action between NIKOLOZ and the scientists.  The other villagers take the scientists outside.  There is a pause as NIKOLOZ starts to look through the papers in the portfolio.</p>
	
	<p>A moment later one of the VILLAGERS comes back in.  He goes back to NIKOLOZ and addresses him privately, not making a point of letting the rest of the audience hear.</p>
	
	<cite>A VILLAGER:</cite>
	<p>The police are in the village. They're checking the schoolhouse.  They're checking the barns.  They are out there with lights.  And Pepela said she saw three people come out of the tractor shed and run for the woods.</p>
	
</article>