<article>

	<p class="directions">In the relative quiet, TAMAZ begins to sing: a cappella at first, but then with MALKHAZI's guitar, which was left behind.  Eventually, the band joins him.</p>
	
	<p class="song">Listen to <a href="{{ MEDIA_URL }}recordings/tamaz_11_28_v2.mp3">Tamaz's Song</a></p>
	
	<cite>TAMAZ:</cite>
	<p>   
		In our fortieth year,<br>
		in the late nineteen sixties<br>
		when we hadn't passed Saturn<br>
		and the sun shone upon us,<br>
		in Blagoveshchensk <br>
		which is now Village Twenty,<br>
		lived a man and his son<br>
		and his grandson together.
	</p>

	<p>
		Just try to imagine<br>
		an OZET so different:<br>
		where children know parents<br>
		and serve them and love them.<br>
		And try to imagine<br>
		that blood is still greedy<br>
		and air hard to come by<br>
		and food even scarcer.
	</p>

	<p>
		With wings on each morning,<br>
		he sets out for Albazin<br>
		which is now Village Fourteen.<br>
		He sits with a quorum<br>
		of old men like him<br>
		who remember the Volga<br>
		and how one could ache<br>
		from the effort of walking.
	</p>

	<p>
		They read from a book<br>
		that was smuggled in pieces<br>
		from earth, then stitched back together.<br>
		They argue the meaning<br>
		of things said on mountains:<br>
		the word in the desert.
	</p>

	<p>
		Believe me, my cousins,<br>
		that life isn't always<br>
		like what came before it:<br>
		The soil is changed by each harvest.
	</p>

	<p>
		At home, in his hammock,<br>
		his son hasn't risen.<br>
		He sags in the darkness<br>
		and curses the father<br>
		who traded his birthright<br>
		of meadows for nothing<br>
		but stories and statutes<br>
		and stale incantations.
	</p>

	<p>
		With hours of driving<br>
		a shovel before him.<br>
		The vacuum above him,<br>
		a vacuum inside him,<br>
		he boils a porridge<br>
		of buckwheat and leaves it:<br>
		his son is still growing<br>
		and trusting, and needs it.
	</p>
	
	<p>
		Believe me, my cousins,<br>
		that life isn't always<br>
		like what came before it:<br>
		The soil is changed by each harvest.<br>
		The child is not like his father.<br>
	</p>
	
	<p>
		The grandson is dreaming.<br>
		A boy he knows told him<br>
		they're building a city in the desert.<br>
		He's there, under towers<br>
		where laws will be written.<br>
		He dreams he can climb these mountains.
	</p>
	
	<p>
		The soil is changed by each harvest.<br>
		The child is not like his father.<br>
		The law is rewrit with each judgement.<br>
	</p>
	
	<p>
		Something's lost,<br>
		something's gained.
	</p>
	
	<p class="directions">As he sings the coda, joined by the band, NIKOLOZ begins leading the villagers in a slow dance around the common hall.  They circle the stage and sing until the show is over.</p>
	
</article>