<article>
	
	<p class="directions">The countdown comes to an end.  As if controlled remotely, the lights in the Common Hall change, dim slightly.  A fanfare announces the beginning of the broadcast.</p>
	
	<p class="song">Listen to <a href="{{ MEDIA_URL }}recordings/broadcast_opening.mp3">The Broadcast Overture</a></p>
	
	<cite>A VOICE</cite>
	<p>Welcome to the celebration of the Festival of the Fifteenth Generation.</p>
	<p>According to Festival Law, as decreed and enforced by the Grand Council of the OZET, each village having enjoyed a Children’s Tribute from the Present Generation to the Next and a shared meal in the fields, the adult Pioneers now gather together for these purposes:</p>
	<p class="directions">The following are scrolled, or written on screen like title cards, not spoken:</p>
	<p>To receive the good wishes and wisdom of a high member of the Grand Council</p>
	<p>To lift voices in singing one of the canonical songs of the Golden Generations</p>
	<p>To receive the good wishes of the mayor of their village</p>
	<p>To recognize the accomplishments of the eldest children of the previous generation</p>
	<p>To pledge their commitment to the harvest and procreation quotas for the Fifteenth Generation as set forth this night by the Minister of Population</p>
	<p>To leave behind the dead</p>
	<p>To listen to the cry of the first child of the new generation</p>
	<p>Thank you.</p>
	
</article>