<article>

	<p class="directions">The face of the COUNCILOR suddenly reappears on the screen.</p>
	
	<cite>COUNCILOR:</cite>
	<p>Cousins.</p>
	
	<p>We are afraid some of you may have experienced an interruption in our broadcast.  Happiness is fragile, and we regret if your enjoyment of this historic festival was diminished.  Unfortunately, we must now determine if tonight's event is a symptom of a more serious problem.  For the safety of all, Pioneers must now return to their houses.  The festival night is over.  Tomorrow, you will work.  The festival day will be postponed until uncertainty is erased, and order on the OZET is assured.  Good night.</p>
	
	<p class="directions">As abruptly as the Council broadcast resumed, it ends.  The lights in the common hall simultaneously power down to the minimum necessary for people to leave.  The villagers can hear the Official Sleep Song playing outside, across the village.  After a long, bewildered pause, a few villagers finish their drinks and begin to leave.</p>
	
	<p class="song">Listen to <a href="{{ MEDIA_URL }}recordings/sleep_song_state.mp3">Official Sleep Song</a></p>
	
</article>