<article id="villager-actions-list">
	
	<div>
		<h4>GENERAL RULES</h4>
		<p>Unless your instructions say otherwise, you may talk freely with other villagers, but not with regular audience members.</p>
		<p>If another villager asks you to do something for or with him, you may accept or refuse.  If you accept, you should still perform the other actions required of you.</p>
	</div>
	
	<div>
		<cite>GOGUTSA</cite>
		<p>Whenever possible, stay behind the bar.</p>
		<p>If there are dirty glasses, wash them.</p>
		<p>If you see empty glasses on tables, collect them and bring them back to the bar, and wash them.</p>
		<p>Do not make eye contact with anyone.</p>
		</p>
	</div>
	
	<div>
		<cite>TORGVA</cite>
		<p>Find a seat at one of the tables.</p>
		<p>Only get a drink from the bar when someone other than the proprietor, Dzidzia, can pour it for you.</p>
	</div>
	
	<div>
		<cite>XATIA (musician)</cite>
		<p>
			Before the broadcast begins, the tavern band will be playing.  Twice during that part of the show, play along with them from the floor.
		</p>
	</div>
	
	<div>
		<cite>ZURAB</cite>
		<p>
			Sit by the chess board.  Play against yourself for five minutes.  If no one asks you for a game, find another villager and ask him if he'd like to play.  Keep asking around until of of them accepts.</p>
		<p>Before you start playing your opponent, get a drink.  Nurse it for the rest of the show.</p>
		</p>
	</div>
	
	<div>
		<cite>ZURAB</cite>
		<p>
			Sit by the chess board.  Play against yourself for five minutes.  If no one asks you for a game, find another villager and ask him if he'd like to play.  Keep asking around until of of them accepts.</p>
		<p>Before you start playing your opponent, get a drink.  Nurse it for the rest of the show.</p>
		</p>
	</div>
	
	
	
</article>