<article id="villager-actions-list">
	
	<div>
		<h4>GENERAL RULES</h4>
		<p>Unless your instructions say otherwise, you may talk freely with other villagers, but not with regular audience members.</p>
		<p>If another villager asks you to do something for or with him, you may accept or refuse.  If you accept, you should still perform the other actions required of you.</p>
	</div>
	
	<div>
		<cite>GOGUTSA</cite>
		<p>Whenever possible, stay behind the bar with Dzidzia.</p>
		<p>If the bar runs out of glasses, get fresh glasses and bring them over.</p>
		<p>Every so often, take the tub collect abandoned glasses from around the Common Hall and bring them back to the bar.</p>
		<p>If Dzidzia leaves the bar, stay back there and pour drinks for the villagers.</p>
		<p>Do not make eye contact with anyone.</p>
		</p>
	</div>
	
	<div>
		<cite>SCIENTIST #1</cite>
		<p>You will spend the evening sitting at the corner table, down at the very end.  You have a portfolio full of papers.  When the house opens, you are sitting and writing on a piece of paper.  Do your best to write down what you see happening all around you throughout the opening of the piece.  Any observations are fine, but do not make it obvious that you are watching and recording.  Do not let anyone else see what you are writing, or see what is written on any other piece of paper in the portfolio.  Never leave the portfolio unattended at the table.</p>
		<p>After about 10 minutes, get up and get yourself a drink.  Bring your portfolio with you.</p>
		<p>You may sing along with the first and second songs of the evening if you wish.  Do not sing along with "When My Children Arrive."</p>
		<p>Toward the end of the evening, you will be approached by the Band Leader and several other villagers.  Answer all his questions in the negative with a simple "No" or a shake of the head.  Whenever he tells you to do something, do it.</p>
	</div>
	
	<div>
		<cite>ZURAB</cite>
		<p>Sit by the chess board.  The board is set up as follows:</p>
		<p>The row of pawns is set up in the standard way.  The back row, however, is also all pawns except for two rooks in the middle.</p>
		<p>Play against yourself for five minutes.  If no one asks you for a game, find another villager and ask him if he'd like to play.  Keep asking around until of of them accepts.</p>
		<p>Before you start playing your opponent, get a drink.  Nurse it for the rest of the show.</p>
		</p>
	</div>
	
	<div>
		<cite>IRMA</cite>
		<p>Take the knot book.  Sit with NONA and, using yarn, tie a Turk's Head knot as a woggle around her wrist.  When you have finished, give the book to IRMA, and let her tie a Turk's Head around your wrist.</p>
	</div>
	
	<div>
		<cite>NONA</cite>
		<p>Sit with IRMA and let her tie a Turk's Head around your wrist. When she has finished, take the Knot book from her and tie a Turk's Head around her wrist.</p>
	</div>
	
	<div>
		<cite>ZVIAD</cite>
		<p>The railing of the Common Hall needs to be decorated.</p>
		<p>Get a drink from the bar.  Find a spot at a table as far from the railing as possible; hidden from Dzidzia's site is even better.  Relax and drink half of your drink over the course of three minutes.  Put down your glass and go decorate the bar.  Stop after the one minutes and return to your drink.  Drink for three minutes.  Decorate for one minute.  Repeat.  Get new drinks when necessary.</p>
	</div>
	
	<div>
		<cite>USHISHA</cite>
		<p>Look around the room for people without drinks, villagers or audience members.  When you see one, approach him and tell him you are going to buy him a drink.  Go to the bar and tell the bartender you are buying a drink for your friend, and you'll have another too.  Bring "your friend" the drink, raise your glass to him, and drink.</p>
		<p>Repeat this until the festival broadcast begins.</p>
	</div>
	
	<div>
		<cite>IRAKLI</cite>
		<p>Stand in front of the band platform and listen to the band until the broadcast begins, at which point you can sit down or find another place to stand.</p>
		<p>Four times, over the course of your listening, pick one of the moves from the final dance, and in an understated way, use this move to dance along with the music.</p>
	</div>
	
	
	
	
	
	
	<div>
		<cite>TORGVA</cite>
		<p>Find a seat at one of the tables.</p>
		<p>Only get a drink from the bar when someone other than the proprietor, Dzidzia, can pour it for you.</p>
	</div>
	
	<div>
		<cite>XATIA (musician)</cite>
		<p>
			Before the broadcast begins, the tavern band will be playing.  Twice during that part of the show, play along with them from the floor.
		</p>
	</div>
	
	<div>
		<cite>TORNIKE</cite>
		<p>You have misplaced your hat.  Look around the common hall for it until you find it.  If the broadcast begins and you still have not found it, continue looking but only in the transitions between sections.  Otherwise, sit still watch from wherever you are in your search.</p>
	</div>
	
	<div>
		<cite>IRMA</cite>
		<p>Sit with NONA and, using yarn, tie a Turk's Head knot as a woggle around her arm.  When you have finished, look for another woman in the community and tie a Turk's Head around her arm.</p>
		<p><a href="http://www.animatedknots.com/turkshead/index.php?Categ=decorative&LogoImage=LogoGrog.jpg&Website=www.animatedknots.com">How to tie the knot</a></p>
	</div>
	
	
	
	
	
	
</article>