<article>
	
	<p class="directions">As the villagers toast and drink, the BAND LEADER jumps up to the stage and tells the band to start playing. He tries to whip up the villager as he sings.</p>
	
	<p class="song">Listen to <a href="{{ MEDIA_URL }}recordings/when_my_children_arrive.mp3">When My Children Arrive</a></p>
	
	<cite>BAND LEADER:</cite>
	<p>They'll be born on that river who make it across<br>
	for that river's eight childhoods wide<br>
	And the first that are born will be old on the day<br>
	they arrive on the opposite side<br>
	They'll be old on the opposite side.</p>
	
	<p>No one here now will get there, our bodies are left<br>
	where they fall on this path they have trod<br>
	We end floating in space like a trail of old bread<br>
	leading back to the home where we starved<br>
	Far away from the home where we starved.</p>
	
	<p>Though I won't get to see it, that river of stars<br>
	and I've never known freedom before<br>
	It is said the OZET on that day will be ours<br>
	When my children arrive on that shore<br>
	When my children arrive on that shore.</p>

	
</article>